.featured-wrapper {
    --imgWidth: 30vw;

    .img-wrapper {
        aspect-ratio: 478/760;
        width: var(--imgWidth);

        position: relative;
        display: inline-block;

        &::before {
            content: "";

            aspect-ratio: 12/23;
            width: calc(var(--imgWidth) + 0.125rem);

            background: #E1E5EA;

            position: absolute;
            display: inline-block;

            top: -10%;
            left: 20%;

            clip-path: polygon(0 0, 100% 0, 100% 37%, 92% 37%, 92% 66%, 100% 66%, 100% 100%, 0 100%);

            z-index: -1;
        }
    }

    .featured-image {
        object-fit: fill;

        width: 100%;
        height: 100%;

        position: relative;

    }
}