.styled-btn {
    background-color: #C4C4C4;

    border: 0;

    font-weight: 700;
    font-size: calc(1.125em * var(--sizeScale));
    line-height: 156%;
    letter-spacing: -0.02em;

    padding: calc(0.75em * var(--sizeScale)) calc(1.25em * var(--sizeScale));

    &:hover {
        filter: brightness(0.9);
    }
}