.products-content {
    display: block;

    .products-header {
        font-family: 'Antonio', sans-serif;
        font-size: 4em;
        font-weight: 700;

        margin-top: 0.5rem;

        line-height: 112%;

        letter-spacing: -0.02em;

        width: 20ch;

        text-align: left;
    }

    .products-description {
        width: 48ch;
        margin-top: 6em;
        padding: 1.5rem 0;

        @media only screen and (min-width: 1600px) {
            margin-top: 10em;
        }

        .products-summary {
            font-weight: 400;
            font-size: 1.125em;
            line-height: 156%;

            margin-bottom: 3em;
        }

    }

    .devices {
        margin: 5em 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media only screen and (min-width: 768px) {
            align-items: flex-start;
        }

        .devices-header {
            font-size: 2em;
            line-height: 88%;
            font-weight: 700;
        }

        .devices-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1.375em;

            width: min-content;
            margin-top: 3.375em;

            .devices-grid-item {
                .devices-image {
                    aspect-ratio: 1/1;
                    width: 18.5vw;
                    min-width: 120px;

                    object-position: 50% 50%;
                    background-size: contain;
                    object-fit: cover;
                }

                .devices-header {
                    font-weight: 400;
                    font-size: 1.5em;
                    line-height: 140%;
                }

                .devices-price {
                    @extend .devices-header;
                    font-weight: 700;
                }
            }
        }
    }
}