<section class="products-content">
    <h1 class="products-header">Zadanie rekrutacyjne na staż w Jamf</h1>
    <section class="products-description">
        <p class="products-summary">
            Poniżej wyświetlana jest lista produktów. Twoim zadaniem jest stworzenie mechanizmu, który będzie dodawał
            nowy
            produkt
            do listy. Powodzenia!
        </p>
        <app-styled-btn (clickEvent)="openAddingForm()">
            Dodaj nowy produkt
        </app-styled-btn>
    </section>
    <section class="devices">
        <h3 class="devices-header">
            Urządzenia Apple
        </h3>
        <div class="devices-grid" aria-live="polite">
            <section *ngFor="let product of products$ | async" class="devices-grid-item" data-testid="products-section">
                <img [src]="product.imageUrl" [alt]="product.alt ?? 'Zdjęcie poglądowe produktu'"
                    class="devices-image" />
                <h4 class="devices-header">{{product.name}}</h4>
                <span class="devices-price">{{(product.price).toFixed(2).replace(".", ",")}} zł</span>
            </section>
        </div>
    </section>
</section>