<section class="products-content">
    <h1 class="products-header">Zadanie rekrutacyjne na staż w Jamf</h1>
    <section class="products-description">
        <p class="products-summary">
            Poniżej wyświetlana jest lista produktów. Twoim zadaniem jest stworzenie mechanizmu, który będzie dodawał
            nowy
            produkt
            do listy. Powodzenia!
        </p>
        <button class="add-new-product">
            Dodaj nowy produkt
        </button>
    </section>
    <section class="devices">
        <h3 class="devices-header">
            Urządzenia Apple
        </h3>
        <div class="devices-grid">
            <section class="devices-grid-item">
                <img src="assets/device-1.jfif" alt="" class="devices-image" />
                <h6 class="devices-header">MacBook Air 13”</h6>
                <span class="devices-price">4999,00 zł</span>
            </section>
            <section class="devices-grid-item">
                <img src="assets/device-2.jfif" alt="" class="devices-image" />
                <h6 class="devices-header">iMac 27”</h6>
                <span class="devices-price">7499,00 zł</span>
            </section>
            <section class="devices-grid-item">
                <img src="assets/device-3.png" alt="" class="devices-image" />
                <h6 class="devices-header">iPad air M1</h6>
                <span class="devices-price">2999,90 zł</span>
            </section>
            <section class="devices-grid-item">
                <img src="assets/device-4.jfif" alt="" class="devices-image" />
                <h6 class="devices-header">Apple watch 7</h6>
                <span class="devices-price">2649,00 zł</span>
            </section>
        </div>
    </section>
</section>