@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: inherit;

    &:active {
        transform: scale(0.98);
    }
}

body {
    --sizeScale: 1;

    font-family: 'Open Sans', sans-serif;
    font-size: 50%;
}

@media only screen and (min-width: 850px) {
    body {
        font-size: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 65%;
    }
}

@media only screen and (min-width: 1150px) {
    body {
        font-size: 75%;
    }
}

@media only screen and (min-width: 1280px) {
    body {
        font-size: 85%;
    }
}

@media only screen and (min-width: 1366px) {
    body {
        font-size: 90%;
    }
}

@media only screen and (min-width: 1500px) {
    body {
        font-size: 100%;
    }
}