.navigation {
    display: flex;

    padding: 0 4em;
    margin-bottom: 6.5vh;

    .logo-wrapper {
        margin-right: auto;

        .logo {
            aspect-ratio: 151/142;
            height: 8.875em;

            object-fit: cover;
        }
    }

    .new-product-opener {
        display: inline-flex;
        align-items: center;

        margin-left: auto;

        border: 0;

        background: inherit;

        font-size: 1.25em;
        font-weight: 700;

        line-height: 140%;

        .plus-icon {
            aspect-ratio: 1/1;
            height: 3.875em;

            object-fit: cover;
        }
    }
}

@media only screen and (min-width: 425px) {
    .navigation {
        padding: 0 9.75em;
    }
}